.textAreaField {
    width: 100%;
    padding: 15px;
}

// .textBlock {
// }

// .codeBlock {
// }

// .imgBlock {
// }

.titleBlock {
    width: 70% !important;
    padding: 2px !important;
    max-height: 34px;
    border: 2px solid var(--save-redesigned) !important;
}

.paragraphWrapper {
    width: 100%;
    position: relative;
}
