.app.normal {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #090949;
    --primary-color: #0e3ece;
    --secondary-color: #6d97f3;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #04ff04;
}
