.app_pink_theme {
    --bg-color: #fbf4f8;
    --inverted-bg-color: #ff24b1;
    --primary-color: #c000fa;
    --secondary-color: #c000fa;
    --inverted-primary-color: #fbf4f8;
    --inverted-secondary-color: #fbf4f8;
}
