.Page {
    padding: 20px 20px 20px 45px;
    height: calc(100vh - var(--navbar-height));
    overflow-y: auto;
    flex-grow: 1;
    flex-shrink: 100;
    width: 100%;
}

.trigger {
    height: 20px;
    margin: 5px;
}
