.Textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
    resize: none;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    height: 65px;
    outline: none;
    background: var(--light-bg-redesigned);
    color: var(--text-redesigned);
    border: 2px solid var(--icon-redesigned);

    &:focus {
        border: 2px solid var(--accent-redesigned);
    }
}

.Textarea::-webkit-scrollbar {
    width: 0;
}
